<div layout="column">
    <div class="undone-tasks">
        <h2 class="md-display-1" ng-class="{'show': $ctrl.empty}" align="center">Planned tasks</h2>
        <md-list flex>
            <md-list-item class="secondary-button-padding" ng-repeat="task in $ctrl.tasks track by $index" align="left">
                <p><span>{{$index+1}}. </span>{{ task }}</p>
                <md-button class="md-secondary md-warn" ng-click="$ctrl.handleRemove(task)">Remove</md-button>
                <md-button class="md-secondary md-primary" ng-click="$ctrl.handleUnDone(task)">Undone</md-button>
            </md-list-item>
        </md-list>
    </div>
</div>